/* Estilo padrão para os títulos de cada 'Carrossel' */
.divTitulosDosPodcasts {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos para os audios em destaque */
.divCardsDestaque {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
}

.cardsDestaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cardsDestaque>div>h2 {
    font-size: 1rem;
}

.cardsDestaque>div>p {
    font-size: 0.875rem;
}

.imgCardDestaque {
    width: 8rem;
    box-shadow: 0px 8px 24px 0px #00000080;
    border-radius: 0.375rem;
}

/* Estilos para os audios em destaque */