# Variaveis do site
NODE_ENV="production"

DB_HOST="mysql"
DB_PORT="3306"
DB_USER="usuario_mysql"
DB_PASS="senha_mysql"
DB_NAME="podsmath"
MONGO_URI="mongodb://usuario_mongo:senha_mongo@mongodb:27017/podsmath?authSource=admin"

JWT_SECRET="super_secreto_podsmath_2026"

RESEND_API_KEY="api_ressend_key"

TRANSCRIPTION_SERVICE_PORT="3002"
USER_SERVICE_PORT="3001"
USER_SERVICE_URL="http://backend_user:3001"
FRONTEND_URL="https://podsmath.com.br"

# Variaveis para o Docker
MYSQL_ROOT_PASSWORD="senha_mysql_root"
MYSQL_DATABASE="podsmath"
MYSQL_USER="usuario_mysql"
MYSQL_PASSWORD="senha_mysql"

MONGO_INITDB_ROOT_USERNAME="usuario_mongo"
MONGO_INITDB_ROOT_PASSWORD="senha_mongo"