# Configuração do banco Mysql
DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "root"
DB_PASS = "senha"
DB_NAME = "podsmath"
MONGO_URI = "mongodb://localhost:27017/podsmath"

# JWT Auth Secret
JWT_SECRET = "super_secreto_podsmath_2026"

# Node Services Ports config
TRANSCRIPTION_SERVICE_PORT = 3002
USER_SERVICE_PORT = 3001
USER_SERVICE_URL = "http://localhost:3001"