/* Responsividade */
@media screen and (max-width: 769px) {
    .containerTemas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0rem;
    }

    .btnVoltar {
        display: none;
    }

    .divTitulo {
        width: 90%;
    }
}

@media screen and (min-width: 770px) {
    .containerTemas {
        display: block;
        padding: 2rem;
    }

    .btnVoltar {
        display: flex;
    }

    .divTitulo {
        width: 100%;
    }
}

.containerTemas {
    max-width: 1350px;
    margin: 0 auto;
}

.btnVoltar {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
    font-size: 0.875rem;
    border-radius: 0.625rem;
    background-color: var(--btn-1);
    color: var(--branco);
    cursor: pointer;
    transition: 0.2s ease;
}

.btnVoltar:hover {
    background-color: var(--btn-1-hover);
}

.divTitulo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.divTitulo>p {
    font-size: 1rem;
    color: var(--font-meio-apagada);
}