.containerHome {
    margin: 2rem;
}

/* Estilo da Primeira coisa da Home(um bloco falando pouco do podsmath) */
.divBoasVindas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(264.39deg, #4577A1 -92.12%, #021B33 104.6%);
    color: #fff;
    padding: 2rem 4.6rem;
    min-height: 24rem;
    height: auto;
    border-radius: 1.5rem;
}

.pequenaMensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    font-size: 0.875rem;
    background: var(--color-white-10, #FFFFFF1A);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 13rem;
}

.tituloBoasVindas {
    line-height: 4rem;
    font-size: 3.75rem;
}

.tituloBoasVindas>span {
    background: linear-gradient(90deg, #F08E60 0%, #FF851A 100%);
    background-clip: text;
    color: transparent;
}

.subTitulo {
    font-size: 1.25rem;
}

.imgMicrofone {
    position: absolute;
    right: 8rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.1;
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
    width: 20rem;
}

/* Estilo para uma separação simples */
.hrDeSeparacao {
    margin: 3.5rem 0rem;
    border: 0.1rem solid var(--border-color-tema);
}

/* Estilos para o "Sobre este Projeto" */
.sobreOProjeto {
    display: flex;
    background-color: var(--sobre-projeto-bg);
    border-radius: 1.5rem;
}

.divTextosProjeto {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding: 5rem;
    width: 50%;
}

.tituloProjeto {
    font-size: 2.25rem;
}

.subTituloProjeto {
    font-weight: normal;
    font-size: 1.375rem;
}

.divParagrafoProjeto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.paragrafosProjeto {
    font-size: 1rem;
}

.btnLerMais {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
    background-color: #012663;
    color: #fff;
    border-radius: 0.625rem;
    cursor: pointer;
}

.btnLerMais:hover {
    background-color: #1a3f8f;
}

.divImgProf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.imgProfessora {
    width: 25vw;
    aspect-ratio: 34.5 / 28;
    object-fit: cover;
    object-position: bottom;
    border-radius: 1.25rem;
}