/* Responsividade */
@media screen and (max-width: 769px) {
    .btnVoltar {
        display: none;
    }

    /* Estilos dos Textos da Apresentação */
    .divTextos>h1 {
        font-size: 1.875rem;
    }

    .divTextos>p {
        font-size: 1.125rem;
    }

    /* Estilos padrão para Títulos */
    .divTitulos>h1 {
        font-size: 1.5rem;
    }

    /* Estilos Nossos Princípios */
    .divCardsPrincipio {
        flex-direction: column;
    }

    .cardPrincipio {
        width: 100%;
    }

    /* Estilos Nossa Equipe */
    .divNossaEquipe {
        flex-direction: column;
        align-items: center;
    }

    .divTextoNossaEquipe {
        align-items: center;
        margin-right: 0rem;
    }

    .divTextoNossaEquipe>p {
        text-align: center;
    }

    /* Estilos Parceiros do Projeto */
    .divCardsParceiros {
        grid-template-columns: auto;
    }

    /* Estilos para o Rodapé/Footer */
    .divFooter>h1 {
        font-size: 1.5rem;
    }

    .divFooter>p {
        margin: 0 0rem;
    }
}

@media screen and (min-width: 770px) {
    .btnVoltar {
        display: flex;
    }

    /* Estilos dos Textos da Apresentação */
    .divTextos>h1 {
        font-size: 3rem;
    }

    .divTextos>p {
        font-size: 1.25rem;
    }

    /* Estilos padrão para Títulos */
    .divTitulos>h1 {
        font-size: 1.875rem;
    }

    /* Estilos Nossos Princípios */
    .divCardsPrincipio {
        flex-direction: row;
    }

    .cardPrincipio {
        width: 35%;
    }

    /* Estilos Nossa Equipe */
    .divNossaEquipe {
        flex-direction: row;
        align-items: flex-start;
    }

    .divTextoNossaEquipe {
        align-items: flex-start;
        margin-right: 6rem;
    }

    .divTextoNossaEquipe>p {
        text-align: left;
    }

    /* Estilos Parceiros do Projeto */
    .divCardsParceiros {
        grid-template-columns: auto auto;
    }

    /* Estilos para o Rodapé/Footer */
    .divFooter>h1 {
        font-size: 1.875rem;
    }

    .divFooter>p {
        margin: 0 5rem;
    }
}

/* Estilo para primeira div onde tem a Apresentação */
.divApresentacao {
    color: var(--branco);
    padding: 4rem 0rem;
    background: linear-gradient(to bottom right, #045d8c, #045d8ce6, #ff5a24);
}

.btnVoltar {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5.5rem;
    height: 2.5rem;
    margin: 0rem 2rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.btnVoltar:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.divOrganizarTextos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.semiBtn {
    padding: 0.25rem 0.625rem;
    background-color: var(--cor-semibtn-normal);
    border: 0.1rem solid var(--branco);
    border-radius: 2rem;
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.semiBtn:hover {
    background-color: var(--cor-semibtn-hover);
}

.divTextos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
    max-width: 52rem;
}

.divTextos>p {
    width: 90%;
    text-align: center;
}

/* Estilos padrão para Títulos */
.divTitulos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0rem 1.5rem 0rem;
}

/* Estilos para Segunda Parte */
.containerSegundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.divInformacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70rem;
    padding-inline: 1.5rem;
}

.divInformacoes>p {
    color: var(--font-meio-apagada);
}

/* Estilo padrão para card */
.padraoCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.75rem;
    border: 0.125rem solid transparent;
    background-color: var(--app-background);
}

.padraoCard:hover {
    border: 0.125rem solid var(--border-color-tema);
}

.padraoCard>p {
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
}

/* Estilos Nossos Princípios */
.divCardsPrincipio {
    display: flex;
    gap: 1rem;
}

.cardPrincipio {
    padding: 1.5rem;
    max-width: 25rem;
}

.cardPrincipio>h1 {
    font-size: 1.25rem;
}

.divIconPrincipio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--sobre-projeto-bg);
    border-radius: 100%;
}

/* Estilos Nossa Equipe */
.divNossaEquipe {
    display: flex;
    gap: 1.5rem;
}

.imgProfessora {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 0.4rem solid var(--border-color-tema);
}

.divTextoNossaEquipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.divTextoNossaEquipe>h1 {
    text-align: center;
    font-size: 1.5rem;
}

.divTextoNossaEquipe>p {
    font-size: 1rem;
    color: var(--font-meio-apagada);
}

.divSubTituloNossaEquipe {
    width: fit-content;
    padding: 0.25rem 0.625rem;
    background-color: var(--cor-semibtn-normal);
    border: 0.1rem solid var(--cor-semibtn-hover);
    color: var(--cor-azul-font-borda);
    border-radius: 2rem;
    font-size: 0.75rem;
    transition: 0.2s ease;
}

.divSubTituloNossaEquipe:hover {
    background-color: var(--cor-semibtn-hover);
    color: var(--branco);
}

/* Estilos Parceiros do Projeto */
.divCardsParceiros {
    display: grid;
    gap: 2rem;
}

.cardParceiro {
    padding: 2rem;
}

.cardParceiro>h1 {
    font-size: 1.125rem;
}

.divSubTituloParceiro {
    width: fit-content;
    padding: 0.25rem 0.625rem;
    background-color: var(--cor-semibtn-normal);
    border: 0.1rem solid var(--cor-laranja-escuro);
    color: var(--cor-laranja-escuro);
    border-radius: 2rem;
    font-size: 0.75rem;
    transition: 0.2s ease;
}

.divSubTituloParceiro:hover {
    background-color: var(--cor-semibtn-hover);
    color: var(--branco);
}

/* Estilos para o Rodapé/Footer */
.divFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 94%;
    max-width: 67rem;
    margin: 5rem 0rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--app-background);
}

.divFooter>p {
    font-size: 1rem;
    color: var(--font-meio-apagada);
    text-align: center;
}