.containerSlideBar {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100vh;
    border-right: solid 0.1rem var(--border-color-tema);
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}

/* Estilo para barra fechada */
.fechada {
    width: 4rem;
}

.fechada p {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.2s ease;
}

.fechada .divLogo {
    flex-direction: column;
    gap: 0.75rem;
}

.fechada .imgLogo {
    width: 3.5rem;
    margin-bottom: 1rem;
}

.fechada .btnPadrao {
    justify-content: center;
    margin-left: 1rem;
}

.fechada .btnLogin {
    display: none;
}

.btnToggle {
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.fechada .btnToggle {
    transform: rotate(180deg);
}

/* Estilo da Div da Logo */
.divLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: solid 0.1rem var(--border-color-tema);
}

.imgLogo {
    width: 7.5rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.imgLogo:hover {
    opacity: 0.6;
}

.linhaToggle {
    border: none;
    border-top: 1px solid var(--border-color-tema);
    width: 4rem;
    margin: 0.5rem 0;
}

/* Estilo dos Btn para navegar */
.divMenuOpcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1rem;
    margin-top: 1.8rem;
}

.btnPadrao {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 13.938rem;
    height: 2.75rem;
    padding: 1rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    cursor: pointer;
}

.btnPadrao>i {
    color: inherit;
}

.btnSelecionado {
    background-color: #012663;
    color: #fff !important;
}

.btnSelecionado:hover {
    background-color: #1a3f8f;
}

.btnSelecionado>i {
    color: #fff !important;
}

.divBtnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 0.1rem var(--border-color-tema);
}

.btnLogin {
    margin: 1rem;
    justify-content: center;
    background-color: #ff5724 !important;
    color: #fff !important;
}

.btnLogin:hover {
    background-color: #ff5724e6 !important;
}

/* Estilos Para o Botão de Configuração que Leva para o Perfil */
.divMenuLogado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}

.btnSair {
    color: #ff5724;
    transition: 0.5s ease;
}

.btnSair:hover {
    background-color: #ff5724e6;
    color: #fff;
}