.containerExplorar {
    max-width: 1350px;
    padding: 2rem;
    margin: 0 auto;
}

.divTituloTopo {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 3rem;
}

.divTituloTopo>h1 {
    font-size: 2.25rem;
}

.divTituloTopo>p {
    font-size: 1rem;
    opacity: 0.6;
}

.divCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--background-secundario);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.icon>i {
    color: #fff;
    font-size: 4rem;
}

.tituloCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
}

.tituloCard>h1 {
    font-size: 1.25rem;
}
.card:hover .tituloCard>h1{
    color: var(--font-paragrafo);
}

.tituloCard>p {
    font-size: 0.875rem;
    opacity: 0.6;
}