.container {
    height: 100dvh;
}

.fechada {
    margin-left: 4rem;
}

.main {
    padding-top: 4rem;
    transition: margin-left 0.3s ease;
    height: 100dvh;
    overflow-y: auto;
}

/* Responsividade */
@media screen and (max-width: 769px) {
    .aberta {
        margin-left: 0rem;
    }
}

@media screen and (min-width: 770px) {
    .aberta {
        margin-left: 16rem;
    }
}