/* Ajuste do Espaço das Informações */
.containerPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.divPerfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 56rem;
}

/* Estilos para o Título da Página */
.divTituloTop>h1 {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
}

.divTituloTop>p {
    font-size: 1rem;
    opacity: 0.5;
}

/* Esilos para o Menu de navegação */
.menuTop {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: var(--background-secundario);
    padding: 0.5rem;
    border-radius: 0.625rem;
}

.opcoesMenuTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 30%;
    padding: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.opcoesMenuTop>p {
    font-size: 0.875rem;
}

.opcoesMenuTop>i {
    font-size: 1rem;
}

.opcaoSelecionada {
    border-bottom: 0.125rem solid var(--border-color-tema);
    opacity: 1;
}

/* Estilos para os Forms / Informações */
