/* Ajuste do Espaço das Informações */
.containerConfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.divConfig {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 58rem;
    padding-inline: 1.5rem;
}

/* Estilos para o Título da Página */
.divTituloTop>h1 {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
}

.divTituloTop>p {
    font-size: 1rem;
    color: var(--font-meio-apagada);
}

/* Esilos para o Menu de navegação */
.menuTop {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: var(--background-secundario);
    padding: 0.5rem;
    border-radius: 0.625rem;
}

.opcoesMenuTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 30%;
    padding: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.opcoesMenuTop>p {
    font-size: 0.875rem;
}

.opcoesMenuTop>i {
    font-size: 1rem;
}

.opcaoSelecionada {
    border-bottom: 0.125rem solid var(--border-color-tema);
    opacity: 1;
}

/* Estilos para os Forms / Informações */
.divForm {
    margin-top: 2rem;
    padding: 2rem;
    border: 0.2rem solid var(--border-color-tema);
    background-color: var(--background-secundario);
    border-radius: 0.75rem;
}

.divTituloForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.divTituloForm>h1 {
    font-size: 1.25rem;
}

.divTituloForm>p {
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
}

/* Estilo padrão para os Forms */
.btnEnviarForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 2.5rem;
    background-color: var(--btn-1);
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
    transition: background-color 0.2s ease;
}

.btnEnviarForm:hover {
    background-color: var(--btn-1-hover);
}

/* Estilos para Imagem de Perfil */
.divFotoPerfil {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ajusteImgPerfil{
    position: relative;
    width: 8rem;
    height: 8rem;
}

.imgPerfil {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

/* Esconde o input */
.inputFile {
    display: none;
}

.iconeAlterarImg{
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;
    border-radius: 100%;

    background-color: #ff5724;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.iconeAlterarImg:hover{
    background-color: #ff5724e6;
}

.divTextoFotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTextoFotoPerfil>h1 {
    font-size: 0.875rem;
}

.divTextoFotoPerfil>p {
    color: var(--font-meio-apagada);
    font-size: 0.75rem;
}

/* Estilo para Inputs */
.divInputs {
    margin-top: 2rem;
}

.divInput {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1rem;
    width: 50%;
}

.divInput>p {
    color: var(--font-meio-apagada);
    font-size: 0.75rem;
}

.divInput>label {
    font-size: 0.875rem;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 0.8rem 0.75rem;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    box-sizing: border-box;
}

:global(.p-password) {
    width: 100%;
    display: block;
}

:global(.p-password .p-icon) {
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    margin-top: 0;
    cursor: pointer;
}

:global(.p-inputtext),
:global(.p-password-input) {
    border: 0.1rem solid #cbd5e1;
}

:global(.p-inputtext:focus),
:global(.p-password-input:focus) {
    border: 0.15rem solid #012663;
    box-shadow: 0 0 0 2px rgba(1, 38, 99, 0.15);
}

:global(.p-dropdown)>span {
    border: none;
}

:global(.p-dropdown):hover {
    border: 0.1rem solid #cbd5e1;
}

:global(.p-dropdown-panel) {
    border: 0.1rem solid #000;
    overflow: hidden;
    border-radius: 0;
}

:global(.p-dropdown-item) {
    padding: 0.75rem 1rem;
}

:global(.p-dropdown-item:hover) {
    background-color: #012663;
    color: #ffffff;
}

/* Estilo para Conta */
.divInformacoesConta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0rem;
}

.divInformacoesConta>hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: var(--border-color-tema);
}

.divInformacao>h1 {
    font-size: 0.875rem;
}

.divInformacao>p {
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
}

/* Estilos para exclusão da conta */
.textosPerigo>h1 {
    font-size: 1.125rem;
    color: #ef4444e6;
    margin-bottom: 1rem;
}

.textosPerigo>p {
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
    margin-bottom: 1rem;
}

.btnExcluirConta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #ef4444;
    color: #fff;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
    transition: background-color 0.2s ease;
}

.btnExcluirConta:hover {
    background-color: #ef4444e6;
}