/* Estilo para primeira div onde tem a Apresentação */
.divApresentacao {
    color: #fff;
    padding: 4rem 0rem;
    background: linear-gradient(to bottom right, #045d8c, #045d8ce6, #ff5a24);
}

.btnVoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5.5rem;
    height: 2.5rem;
    margin: 0rem 2rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.btnVoltar:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.divOrganizarTextos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.semiBtn {
    padding: 0.25rem 0.625rem;
    background-color: #ffffff33;
    border: 0.1rem solid #fff;
    border-radius: 2rem;
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.semiBtn:hover {
    background-color: #045d8ccc;
}

.divTextos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
    max-width: 52rem;
}

.divTextos>h1 {
    font-size: 3rem;
}

.divTextos>p {
    width: 90%;
    font-size: 1.25rem;
    text-align: center;
}

/* Estilos padrão para Títulos */
.divTitulos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0rem 1.5rem 0rem;
}

.divTitulos>h1 {
    font-size: 1.875rem;
}

/* Estilos para Segunda Parte */
.containerSegundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.divInformacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70rem;
    padding-inline: 1.5rem;
}

.divInformacoes>p {
    opacity: 0.5;
}

/* Estilo padrão para card */
.padraoCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.75rem;
    border: 0.125rem solid transparent;
    background-color: var(--background-secundario);
}

.padraoCard:hover {
    border: 0.125rem solid var(--border-color-tema);
}

.padraoCard>p {
    font-size: 0.875rem;
    opacity: 0.5;
}

/* Estilos Nossos Princípios */
.divCardsPrincipio {
    display: flex;
    gap: 1rem;
}

.cardPrincipio {
    padding: 1.5rem;
    width: 35%;
    max-width: 25rem;
}

.cardPrincipio>h1 {
    font-size: 1.25rem;
}

.divIconPrincipio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--sobre-projeto-bg);
    border-radius: 100%;
}

/* Estilos Nossa Equipe */
.divNossaEquipe {
    display: flex;
    gap: 1.5rem;
}

.imgProfessora {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 0.4rem solid var(--border-color-tema);
}

.divTextoNossaEquipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 6rem;
}

.divTextoNossaEquipe>h1 {
    font-size: 1.5rem;
}

.divTextoNossaEquipe>p {
    font-size: 1rem;
    opacity: 0.5;
}

.divSubTituloNossaEquipe {
    width: fit-content;
    padding: 0.25rem 0.625rem;
    background-color: #0757831a;
    border: 0.1rem solid #07578333;
    color: #075783;
    border-radius: 2rem;
    font-size: 0.75rem;
    transition: 0.2s ease;
}

.divSubTituloNossaEquipe:hover {
    background-color: #075783cc;
    color: #fff;
}

/* Estilos Parceiros do Projeto */
.divCardsParceiros {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.cardParceiro {
    padding: 2rem;
}

.cardParceiro>h1 {
    font-size: 1.125rem;
}

.divSubTituloParceiro {
    width: fit-content;
    padding: 0.25rem 0.625rem;
    background-color: #ff57241a;
    border: 0.1rem solid #ff5724;
    color: #ff5724;
    border-radius: 2rem;
    font-size: 0.75rem;
    transition: 0.2s ease;
}

.divSubTituloParceiro:hover {
    background-color: #075783cc;
    color: #fff;
}

/* Estilos para o Rodapé/Footer */
.divFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 94%;
    max-width: 67rem;
    margin: 5rem 0rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--background-secundario);
}
.divFooter>h1{
    font-size: 1.875rem;
}
.divFooter>p{
    font-size: 1rem;
    opacity: 0.6;
    margin: 0 5rem;
    text-align: center;
}

.containerInformacoesFooter {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.divInformacoesFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divInformacoesFooter>h1{
    color: #075783;
    font-size: 2.25rem;
}
.divInformacoesFooter>p{
    font-size: 0.875rem;
    opacity: 0.5;
}