/* Estilo para ajustar o width do container estilo padrão para barra toda */
.containerTopBar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4rem;

    position: fixed;
    top: 0;

    padding: 0 1.5rem;

    border-bottom: solid 0.1rem #e2e8f0;

    transition: left 0.3s ease, width 0.3s ease;
    z-index: 100;
}

.topBarAberta{
    left: 16rem;
    width: calc(100% - 16rem);
}

.topBarFechada{
    left: 4rem;
    width: calc(100% - 4rem);
}

/* Estilo para o input de pesquisa */
.divEsquerda{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Reutiliza o MESMO padrão de input */
.input{
    width: 30rem;
    padding: 0.8rem 0.75rem 0.8rem 2.5rem;
    border-radius: 1rem;
    font-size: 0.875rem;
}

/* Ícone de search */
.divEsquerda :global(.pi-search){
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
}

/* Estilo para menu de Login/Cadastro */
.divDireita{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 0.8rem;
}

.btnPadrao{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    width: 7.2rem;
    height: 2.5rem;
}
.corParaFundo{
    background-color: #ff5724;
    color: #fff;
    border-radius: 0.6rem;
}
.corParaFundo:hover{
    background-color: #ff5724e6;
}

/* Estilo para Modal de Troca de Tema */
.btnConfigs{
    cursor: pointer;
}

.menuConfigs {
    position: absolute;
    top: 3.5rem;
    right: 1rem;

    background: #fff;
    border-radius: 0.8rem;
    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    transform: scale(0.85);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.menuAberto {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.menuConfigs span {
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
}

.menuConfigs span:hover {
    background-color: #f1f5f9;
}