@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(16px * var(--font-scale));
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--app-background);
}

:root {
    --font-scale: 1;
}

/* Estilo para trocar umas cores do dark theme do Prime React */
:root[data-theme="dark"] .p-inputtext,
:root[data-theme="dark"] .p-card,
:root[data-theme="dark"] .p-dropdown,
:root[data-theme="dark"] .p-button {
    border-color: #26344a !important;
}

/* Variáveis */
:root {
    --app-background: #ffffff;
    --background-secundario: #ffffff;
    --border-color-tema: #e2e8f0;
    --border-inversa: #26344a;
    --font-paragrafo: #4577A1;
    --font-meio-apagada: #64748b;
    --sobre-projeto-bg: #4577A124;

    /* Botões */
    --btn-1: #012663;
    --btn-1-hover: #1a3f8f;
}
:root[data-theme="dark"] {
    --app-background: #0f131a;
    --background-secundario: #17255433;
    --border-color-tema: #26344a;
    --border-inversa: #e2e8f0;
    --font-paragrafo: #ffffff;
    --font-meio-apagada: #94a3b8;
    --sobre-projeto-bg: #17255433;

    /* Botões */
    --btn-1: #ff5724;
    --btn-1-hover: #ff5724e6;
}