/* Responsividade */
@media screen and (max-width: 769px) {}

@media screen and (min-width: 770px) {}

.containerPlaylist {
    display: flex;
    flex-direction: column;
    width: auto;
}


/* Estilo para primeira div onde tem a Apresentação */
.divApresentacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--branco);
    padding: 2rem 2rem;
    gap: 4rem;
    background: linear-gradient(to bottom right, #045d8c, #045d8ce6, #ff4000);
}

.btnVoltar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 5.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.btnVoltar:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.divOrganizarTextos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.semiBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-semibtn-normal);
    border: 0.1rem solid var(--branco);
    color: var(--branco);
    padding: 0.25rem 0.625rem;
    width: 7rem;
    border-radius: 2rem;
    font-size: 0.875rem;
    transition: 0.2s ease;
}

.imgTitulo {
    width: 15rem;
    height: 15rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 12px var(--sombra);
}

.divTextos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.divTextos>h1 {
    font-size: 3.75rem;
}

.divTextos>p {
    font-size: 1rem;
}

/* Estilo para o menu antes da tabela */
.divMenu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin: 2rem;
}

.divMenu>i {
    font-size: 1.5rem;
    cursor: pointer;
}

.divIconPlay {
    padding: 1rem;
    background-color: var(--cor-laranja-escuro);
    border-radius: 100%;
    color: var(--branco);
    cursor: pointer;
    transition: 0.2s ease;
}

.divIconPlay:hover {
    transform: scale(1.01);
    background-color: var(--cor-laranja-escuro-hover);
}

/* Estilo para Tabela */
.tabelaPlaylist {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.8rem;
}

.tabelaPlaylist thead {
    text-align: left;
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
}
.tabelaPlaylist thead th {
    border-top: 0.2rem solid var(--border-color-tema);
    border-bottom: 0.2rem solid var(--border-color-tema);
}

.tabelaPlaylist th,
.tabelaPlaylist td {
    padding: 0.75rem;
}

.tabelaCenter {
    text-align: center;
}

.linhaTabela {
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Estilo para Fazer o Id do Podcast virar Icon */
.colunaNumero {
    position: relative;
}

.idPodcast {
    transition: opacity 0.2s;
}

.playIcon {
    color: var(--cor-azul-font-borda);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.linhaTabela:hover .idPodcast {
    opacity: 0;
}

.linhaTabela:hover .playIcon {
    opacity: 1;
}

.linhaTabela:hover .divTextoTituloPodcast>h1 {
    color: var(--cor-azul-font-borda);
}

/* Estilo para Mini Card de Foto, Título e SubTítulo da Tabela */
.celulaTitulo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.imgTabela {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 0.75rem;
}

.divTextoTituloPodcast {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.divTextoTituloPodcast>h1 {
    font-size: 1rem;
}

.divTextoTituloPodcast>p {
    font-size: 0.875rem;
    color: var(--font-meio-apagada);
}